%h2 
  Editing 
  =@destroyer.name

= render :partial => "by", :locals => {:destroyer => @destroyer}
= render :partial => "form", :locals => {:destroyer => @destroyer}

%p
  = link_to image_tag("icon_small_larrow.png", :border=>0) + ' back to list', :back
  |
  = link_to image_tag("icon_small_delete.png", :border=>0) + ' delete', admin_destroyers_path(@destroyer), :confirm => 'Are you sure?', :method => :delete
