- content_for :title do
  Edit Destroyer

= render :partial => "form", :locals => {:destroyer => @destroyer}

%p
  = link_to "Show", members_destroyer_path(@destroyer)
  |
  = link_to "View All", members_destroyers_path
