- content_for :title do
  New Destroyer
  
%h2 Create a new Destroyer

= render :partial => "form", :locals => {:destroyer => @destroyer}

%p= link_to image_tag("icon_small_larrow.png", :border=>0) + ' back to list', :back
