%h2=@destroyer.name

= render :partial => "by", :locals => {:destroyer => @destroyer}
%p
  %strong Favorite:

%p
  %strong Name:
  =h @destroyer.name
%p
  %strong Description:
  =h @destroyer.description
%p
  %strong Price:
  =h @destroyer.price
%p
  - if current_user == @destroyer.creator

    = link_to "Edit", edit_members_destroyer_path(@destroyer)
    |
    = link_to "Destroy", members_destroyers_path(@destroyer), :confirm => 'Are you sure?', :method => :delete
    |
  = link_to "View All", members_destroyers_path
