- content_for :title do
  Destroyer
%p
  %strong Favorite:
  =h @destroyer.is_favorite?

%p
  %strong Name:
  =h @destroyer.name
%p
  %strong Price:
  =h @destroyer.price
%p
  %strong Description:
  =h @destroyer.description

%p
  - if current_user.id == @destroyer.user_id
    = link_to "Edit", edit_members_destroyer_path(@destroyer)
    |
    = link_to "Destroy", members_destroyers_path(@destroyer), :confirm => 'Are you sure?', :method => :delete
    |
  = link_to "View All", members_destroyers_path
