- content_for :title do
  Members Home


%h2 Member Home
#main
  %p 
    This is the members interface for the 
    =APP_TITLE
    application.
  %p Create a powerful armada of space ships to take over the galaxy!
#sidebar
  %p sidebar