- form_remote_for 'favorite', :url => {:controller => :favorites, :action => 'create'}, :html => {:id => favorite_div(destroyer)}  do |f|
  = f.hidden_field :user_id, :value => current_user.id
  = f.hidden_field :destroyer_id, :value => destroyer.id
  %td= image_submit_tag('icon_small_star_inactive.png')