.description{ :id => destroyer_div(destroyer) }= truncate(destroyer.description, :length => 45)
.description{ :id => "#{destroyer_div(destroyer)}_more", :style => 'display: none' }= destroyer.description
= toggle_more(destroyer)