%h2=@destroyer.name

= render :partial => "by", :locals => {:destroyer => @destroyer}

= image_tag(@destroyer.photo.url(:medium))

%p
  %strong Name:
  =h @destroyer.name
%p
  %strong Description:
  =h @destroyer.description
%p
  %strong Price:
  =h @destroyer.price
  ArmadaBucks
  
%p
  = link_to image_tag("icon_small_larrow.png", :border=>0) + ' back to list', :back