%h2=@destroyer.name

= render :partial => "by", :locals => {:destroyer => @destroyer}
%p
  %strong Favorite:

%p
  %strong Name:
  =h @destroyer.name
%p
  %strong Description:
  =h @destroyer.description
%p
  %strong Price:
  =h @destroyer.price
%p
  = link_to "View All", root_url
