%li= link_to 'users', admin_users_path, :title => 'Users'
%li= link_to 'roles', admin_roles_path, :title => 'Roles'
%li= link_to 'All Destroyers', admin_destroyers_path, :title => 'All Destroyers'
%li= link_to 'My Destroyers', admin_destroyers_path, :title => 'My Destroyers'
