%ul.menubar
  %li= link_to 'home', home_url_for(current_user), :title => 'Home'
  = admin_menu_items(current_user)
  %li= link_to 'all destroyers', home_url_for(current_user), :title => 'All Destroyers'
  %li= link_to 'my destroyers', members_destroyers_path, :title => 'My Destroyers'
  
